<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/addPerson}" th:object="${person}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Surname: <input type="text" th:field="*{surname}" /></p>
        <p>Age: <input type="number" th:field="*{age}" /></p>
        <select th:field="*{flat}" class="form-control">
            <option th:each="flat: ${allFlats}" th:value="${flat.id}"
                    th:text="${flat.price} + '$ ' + ${flat.sqrMeters} + 'm^2'"></option>
        </select>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>name</th>
            <th>surname</th>
            <th>age</th>
            <th>flat</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person:${people}">
            <td><span th:text="${person.id} + ':'"></span></td>
            <td><span th:text="${person.name}"></span></td>
            <td><span th:text="${person.surname}"></span></td>
            <td><span th:text="${person.age}"></span></td>
            <td th:if="${person.flat} != null">
                <span th:text="${person.flat.getPrice()} + '$ ' + ${person.flat.getSqrMeters() + 'm^2'}"></span>
            </td>
            <td th:if="${person.flat} == null">no flat</td>
        </tr>
        </tbody>
    </table>
</body>
</html>